@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Street line */

  .street-line-animation {
    animation-name: street-line-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes street-line-animation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(80%);
    }
  }

  /* Other car */

  .other-car {
    animation-name: other-car-animation;
    /* animation-iteration-count: infinite; */
    /* visibility: hidden; */
    transform: translateY(120%);
    animation-timing-function: linear;
  }

  @keyframes other-car-animation {
    from {
      transform: translateY(-20%);
    }
    to {
      transform: translateY(120%);
    }
  }

  /* Increase token */

  .increase-token-animation-element {
    animation-name: increase-token-animation;
    animation-duration: 1s;
  }

  @keyframes increase-token-animation {
    10% {
      opacity: 0;
      transform: translateY(0);
    }
    12% {
      opacity: 100%;
    }
    to {
      opacity: 100%;
      transform: translateY(-200%);
    }
  }
}
